
<h3> Dear owner, </h3>

<h4> Your pet food dispenser has dispensed food for <%= Feeding.first.feeding_duration %> seconds. Now you can be rest assured that your pet is well fed!</h4> <br>


<p> With love from </p>
<p> - Woofles </p>
