
<p> Dear <%= Feeding.first.pet_name %>'s owner, </p>

<p> Your pet food dispenser has dispensed food for <%= Feeding.first.feeding_duration %> seconds at <strong><%= Time.now.to_formatted_s(:long_ordinal)%></strong>. Now you can be rest assured that your pet is well fed, woof!</p> <br>


<p> With love from the Woofles team </p><br><br>
<small> p.s. You can always reach us at support@woofles.com </small>