
<p> Dear <%= Feeding.first.pet_name %>'s owner, </p>

<p> Food has been dispensed at <strong><%= Time.now.to_formatted_s(:long_ordinal)%></strong>. Now you can be rest assured that <%= Feeding.first.pet_name %> is well fed, woof!</p> <br>


<p> With love from the Woofles team </p><br><br>
<small> p.s. You can always reach us at support@woofles.com </small>