
<h3> Dear owner, </h3>

<h4> Your pet food dispenser has dispensed food for <%= @feeding.feeding_duration %> seconds at <%= @feeding.feeding_time %> today. Now you can be rest assured that your pet is well fed!</h4> 


<p> With love from </p><br>
<p> - Pairbnb </p>
