
<p> Dear <%= Feeding.first.pet_name %>'s owner, </p>

<p> We tried to feed your pet at <strong><%= Time.now.to_formatted_s(:long_ordinal) %></strong> but have unfortunately failed. Please ensure the pet feeder is properly plugged in and contact us at support@woofles.com should you require further assistance in troubleshooting the petfeeder; we will gladly assist you! We are truly sorry for any inconvenience caused.</p> <br>


<p> Sincerely, </p>
<p> Your paw-pals at Woofles </p>